# Args & Kwargs

## Args

In [ ]:
# Değişken sayılı parametre vermenin bir yolu
# list,tuple objelerini unpack yapar ama dict objelerini yapmaz

In [2]:
def sum(numbers):
    res = 0
    for e in numbers:
        res += e
    return res

In [3]:
numbers = [1,2,3,4]

In [4]:
sum(numbers)

10

In [6]:
numbers = [1,2]
sum(numbers)

3

#### *args ın anlamı, en başta tuple gibi bir objem vardı ama bunu tek tek elemanlarına ayırdım

In [7]:
def sum(*args) :
    res = 0
    for e in args:
        res += e
    return res

In [8]:
# *args = 1, 2, 3, 4 olduğunu varsyarsak, yani args in tek tek elemanlarına ayrılmış hali 1, 2, 3, 4 ise orjinali args = (1,2,3,4)
sum(1,2,3,4)

10

In [9]:
def sum(*numbers) :
    res = 0
    print(type(numbers))
    print(numbers)
    for e in numbers :
        res += e
    return res

In [10]:
sum(1,2,3,4,5,6)

<class 'tuple'>
(1, 2, 3, 4, 5, 6)

21

In [11]:
# sum( *..... ) parantez içindeki kısım unpack edilimiş hal; geri unpack yapınca default değeri ola tuple döndürdü

In [13]:
sum(a=1, b=2)

TypeError: sum() got an unexpected keyword argument 'a'

In [14]:
def sum_2(*args) :
    res = 0
    print(type(args))
    print(args)
    print(len(args))
    for e in args :
        for j in e :
            res += j
    return res

In [16]:
# sum_2([1,2]) şeklinde çağırdığımda python şöyle diyor: 
# *args olarak verilmiş hale unpack hal dediğimize göre 
# unpack hali list olarak algılar, geri pack yapılırsa TUPLE İÇİNDE LİST olarak döndürür
# *args = [1,2] ise args = ( [1,2] )

## Kwargs

In [27]:
# Fonksiyona değişken sayıda keyword argument verebilmemizi sağlar
# **kwargs in pack edilmiş hali dict çevirir

In [28]:
def students(**kwargs) : 
    print(kwargs)
    for v in kwargs.values( ) : 
        print(v)

In [29]:
students(name = "Jake",  student_number = "401")

{'name': 'Jake', 'student_number': '401'}
Jake
401

In [30]:
def students(**students) :
    print(students)
    for k in students :
        print(k)

In [31]:
students( name = "Dafni", grade = "100", number = "9250")

{'name': 'Dafni', 'grade': '100', 'number': '9250'}
name
grade
number

## Using Args and Kwargs Together

In [32]:
# kullanım sırası önemli oluyor

In [34]:
def weird(*args, **kwargs) :
    res = 0
    for e in args:
        res += e
    for k,v in kwargs.items( ) :
        print(k, ":", v)
        
    return res

In [41]:
 dene = {"name" : "JAke", "grade" : "100", "number" : "245"}

In [42]:
type(dene)

dict

In [45]:
dene.items( )

dict_items([('name', 'JAke'), ('grade', '100'), ('number', '245')])

In [46]:
dene.keys( )

dict_keys(['name', 'grade', 'number'])

In [47]:
dene.values( )

dict_values(['JAke', '100', '245'])

In [48]:
def weird(*args, **kwargs) :
    res = 0
    for e in args:
        res += e
    for k,v in kwargs.items( ) :
        print(k, ":", v)
        
    return res

In [51]:
weird(1,2,3,4,6, name = "Alien", student_number = "402", age = 32)

name : Alien
student_number : 402
age : 32

16

In [50]:
weird("ali","en", name = "Alien", student_number = "402")

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

## Unpacking

In [52]:
l = [1,2,3,4]

In [53]:
print(l)

[1, 2, 3, 4]

In [55]:
print(*l)

1 2 3 4

In [56]:
l1 = [1,2,3,4]

In [57]:
l2 = [20,22]

In [67]:
l1 + l2 #conca-

[1, 2, 3, 4, 20, 22]

In [58]:
merged_l = [*l1, *l2]

In [59]:
merged_l

[1, 2, 3, 4, 20, 22]

In [60]:
merged = [l1, l2]
merged

[[1, 2, 3, 4], [20, 22]]

In [61]:
d1 = {"name" : "Jake" , "number" : 402}
d2 = {"last_name" : "Sky" , "grade" : 74}

In [62]:
d1 + d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [65]:
d_merged = {**d1, **d2}
d_merged

{'name': 'Jake', 'number': 402, 'last_name': 'Sky', 'grade': 74}

In [66]:
type(d_merged)

dict

In [68]:
d1  = {"name" : "Jake" , "number" : 402}
d3 = {"name" : "Sky" , "grade" : 35}

In [70]:
d_merged_3 = {**d1, **d3}
d_merged_3

{'name': 'Sky', 'number': 402, 'grade': 35}

In [71]:
d1  = {"name" : "Jake" , "number" : 402}
d4 = {"name" : "Milena" , "grade" : 35}
d_merged_4 = {**d1, **d4}
d_merged_4

{'name': 'Milena', 'number': 402, 'grade': 35}

In [73]:
str_list = [*"hey this is a string"]

In [74]:
str_list

['h',
 'e',
 'y',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g']