In [1]:
import numpy as np
import pandas as pd

#### pd.series

#### We'll start analyzing "The Group Of Seven". We'll start by analyzing population, and for that, we'll use a pandas.Series object.

In [2]:
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.605, 127.061, 64.511, 318.523])

In [3]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.605
4    127.061
5     64.511
6    318.523
dtype: float64

In [4]:
g7_pop.name = 'G7 Population in millions'

In [5]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.605
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [6]:
g7_pop.dtype

dtype('float64')

In [7]:
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.605, 127.061,  64.511, 318.523])

In [8]:
type(g7_pop.values)

numpy.ndarray

In [9]:
# a series has an index, that's similar to the automatic index assigned to python's lists
g7_pop

0     35.467
1     63.951
2     80.940
3     60.605
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [10]:
g7_pop[0]

35.467

In [11]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [13]:
g7_pop[1]

63.951

In [14]:
l = ['a', 'b', 'c']

In [15]:
# but in contrast to lists, we can explicitly define the index:
g7_pop.index = ['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom', 'United States']

In [16]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.605
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

#### we can say that Series look like "ORDERED DICTIONARIES". we can actually create Series out of dictionaries:

In [17]:
pd.Series({'Canada' : 34.467,
          'France' : 63.951,
          'Germany': 80.94,
           'Italy': 60.665,
           'Japan': 127.061,
           'United Kingdom': 64.511,
           'United States': 318.523},
         name = 'G7 Population in milions')

Canada             34.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in milions, dtype: float64

In [18]:
pd.Series([35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523], 
         index = ['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
         name = 'G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [19]:
pd.Series(g7_pop, index = ['France', 'Germany', 'Italy', 'Spain'])

France     63.951
Germany    80.940
Italy      60.605
Spain         NaN
Name: G7 Population in millions, dtype: float64